<div class="bootstrap snippets px-4">
    <div class="comment-wrapper">
        <div class="panel panel-info">
            <div class="panel-heading text-center py-2">
                <h4><i class="far fa-comments"></i> &nbsp; Comments For Recipe</h4>
            </div>
            <form *ngIf="isLoggedIn" class="px-4" #f="ngForm" (ngSubmit)="submitComment(f.value); f.reset()">
                <div class="row justify-content-center">
                    <div class="col-1"></div>
                    <div class="col-6">
                        <textarea name="content" ngModel minlength="4" required class="form-control"
                            [placeholder]="isLastCommentor?'Cant post sequencial comments...':'write a comment...'"
                            rows="2" [disabled]="isLastCommentor"></textarea>
                    </div>
                    <div class="col-2">
                        <button type="submit" class="btn btn-info pull-right" [disabled]="f.invalid">Post</button>
                    </div>
                    <div class="col-1"></div>
                </div>
                <br>
            </form>
            <div style="position:relative">
                <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="rgba(119, 41, 83, 0.73)" type="ball-scale-multiple" [fullScreen]="false">
                   <div>
                    <p style="font-size: 24px; color:rgba(119, 41, 83, 0.73); padding-left:12em; padding-top:1em;">Loading comments...</p>
                </div>
                </ngx-spinner>
            </div>
            <div class="panel-body" (scroll)="onScroll($event)">
                <ul class="media-list">
                       <acr-comment *ngFor="let comment of comments" [comment]="comment"
                    [recipeAuthorUserName]="recipeAuthorUserName" (changeLikesEvent)="changeLikes($event)"
                    (changeContentEvent)="changeContent($event)" (deleteCommentEvent)="deleteComment($event)">
                </acr-comment>
            </ul>
            </div>
        </div>
    </div>
</div>
<div class="botomizer"></div>