media{
    display:block;
    width: 8em;
    height:8em;
    border-radius: 4em;
    overflow: hidden;
}

img{
    height: 8em;
    width:auto;
}

/* .btn-opts{
    cursor: pointer;
} */

h5{
    text-align: center;
    padding-bottom:0.5rem;
}

.btn-opts:hover{
   cursor: pointer;
   position:relative;
   font-size:1.6rem;
   padding-bottom:0;
   font-weight: 600;
   transition: ease-in-out 0.3s;
}
li{
    margin:0 0.5em 1em 0.5em;
}