div.site {
    display:block;
    margin-bottom:4em;
}

.main-width-1{
    max-width:90em;
    margin:0 auto;
}
.main-width-2{
    max-width:70em;
    margin:0 auto;
}

article.card>media{
    flex:0 0 60%;
}
section.info{
flex:0 0 40%;
}

main{
    background-image: url("../../../../../assets/imgs/index/bgr-kitchen2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom:2em;
}

section {
    box-shadow: inset 0px 0px 22px -2px rgba(0,0,0,0.75);
}

section:hover {
    box-shadow:  0px 0px 22px -2px rgba(0,0,0,0.75);
}