@media only screen and (max-width: 1440px) {
    .main-width-1,
    .main-width-2{
        max-width:100%;
    }

main {
    background: none;
    background-color: rgb(235, 224, 230);
}

}

@media only screen and (max-width: 1170px) {
      section.questions{
        height: 26em;
        font-size: 0.85em;
    }

    .cont-pt div.info{
        flex:0 0 26em;
        padding:1em;
    }

    li.cont-pt>img{
       width:1em;
       height: auto;
       flex-grow: 1;
       display:block;
    }

    .gallery>ul>li{
        flex:0 0 22%;
    }
} 

@media only screen and (max-width: 890px) {

    section.questions{
        height: 22em;
        font-size: 0.7em;
    }
    li.cont-pt{
        flex-wrap: wrap; 
        justify-content: center;
    }

    li.cont-pt>img{
        flex-grow:0;
        height: 20em;
        width:30em;
        padding:1em;
    }

    li.cont-pt>div.info {
        flex: 0 0 100%;
    }
    /* section.content{
        font-size:0.9;
        color:green;
    } */

    section.content:nth-child(odd) 
    li.cont-pt>img{ order:2; }

    .gallery>ul{
        flex-wrap:wrap;
        padding:0 2em;
    }
    .gallery>ul{margin: 1em 0}
    .gallery>ul>li{
        flex:0 0 45%;
        min-width:13em;
        margin: 2em 0;
    }
       
}
@media only screen and (max-width: 700px) {
    section.questions{
        height: 20em;
        font-size: 0.6em;
    }
    section.content{
        font-size:0.8;
    }

}