<div class="card border-info my-4 mx-4 col-8 h5 pt-3">
    <div *ngIf="!info.fans && (!info.rating || !info.commentsCount)" id="menuDiv">
        <p  class="text-center h3 py-2"> <i
                class="fas fa-utensils"></i></p>

    </div>
    <table class="table table-borderless h6">

        <tbody>
            <tr>
                <td class="py-2 my-0 pl-0">Category:</td>
                <td class="py-2 my-0 px-0"><i class="far fa-bookmark"></i> &nbsp; <a [routerLink]="['/categories/details',info.categoryId]">{{info.category}}</a>
                </td>
            </tr>
            <tr *ngIf="info.rating">
                <td class="py-2 my-0 pl-0">Rating:</td>
                <td class="py-2 my-0 px-0"><i class="fas fa-star-half-alt"></i> &nbsp; {{info.rating | number:'1.2'}}
                </td>
            </tr>
            <tr *ngIf="info.commentsCount">
                <td class="py-2 my-0 pl-0">Comments:</td>
                <td class="py-2 my-0 px-0"><i class="far fa-comments"></i> &nbsp; {{info.commentsCount}}</td>
            </tr>
            <tr>
                <td class="py-2 my-0 pl-0">Difficulty:</td>
                <td class="py-2 my-0 px-0"><i class="fas fa-dumbbell"></i> &nbsp; {{info.difficulty}}</td>
            </tr>
            <tr>
                <td class="py-2 my-0 pl-0">Ingredients:</td>
                <td class="py-2 my-0 px-0"><i class="fas fa-atom"></i> &nbsp; {{info.ingredientsCount}}</td>
            </tr>
            <tr *ngIf="info.fans">
                <td class="py-2 my-0 pl-0">Admirers:</td>
                <td class="py-2 my-0 px-0"><i class="fas fa-user-plus"></i> &nbsp; {{info.fans}}</td>
            </tr>
        </tbody>
    </table>
</div>