div.card {
    /* position:absolute; */
    border-radius: 15%;
    border: 2px solid cornflowerblue;
    margin-top:1em;
    padding:1em 1em 0 1em;
}

#menuDiv {
    border-bottom: 3px solid cornflowerblue;
}