<h4><img class="bullet-img" src="../../../assets/imgs/100x100xtree.png" alt="tree"> Category tree   
    <span class="opt" *ngIf="isAdmin" (click)="add(null,'Main Category')"
        mat-raised-button matTooltipPosition="above"
        matTooltip="Add new Head Category"
        aria-label="create-main category popup"> 
        <i class="fas fa-plus-circle text-success"></i>
    </span>
</h4> 
<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
    <!-- This is the tree node template for leaf nodes -->
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
        <!-- use a disabled button to provide padding for tree leaf -->
        <!-- <button mat-icon-button disabled></button> -->
        <img class="bullet-img" src="../../../assets/imgs/leaf 100x100.png" alt="bottom-category"> <span [ngClass]="{'chosen':node.id===selected}">{{node.name}}</span> 
        <span class="opt" (click)="display(node.id)"
            mat-raised-button matTooltipPosition="above"
            [matTooltip]="'View details for '+node.name"
            aria-label="details popup">
                <i class="fas fa-info-circle text-info"></i> </span>
        <span class="opt" *ngIf="node.hasRecipes" [routerLink]="['/']"
            mat-raised-button matTooltipPosition="above"
            [matTooltip]="'View recipes for '+node.name"
            aria-label="recipes popup">
                <i class="fas fa-scroll text-info"></i> 
        </span>
       
        <span class="opt" *ngIf="canCreate" (click)="add(node.id,node.name)"
            mat-raised-button matTooltipPosition="above"
            [matTooltip]="'Add Sub-Category of '+node.name"
            aria-label="create popup"> 
                <i class="fas fa-plus-circle text-success"></i>
        </span>

        <span  *ngIf="canEdit(node)" class="opt" (click)="edit(node.id)"
            mat-raised-button matTooltipPosition="above"
            [matTooltip]="'Edit '+node.name"
            aria-label="edit popup">    
                <i class="fas fa-pencil-alt text-primary"></i> 
        </span>
        <span  *ngIf="canDelete(node)" class="opt" (click)="askDelete(node.id,node.name)"
            mat-raised-button matTooltipPosition="above"
            [matTooltip]="'Delete category '+node.name"
            aria-label="delete popup">
                <i class="fas fa-trash text-danger"></i> 
        </span>
    </mat-tree-node>
    <!-- This is the tree node template for expandable nodes -->
    <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
        <button mat-icon-button matTreeNodeToggle attr.aria-label="toggle">
            <mat-icon class="mat-icon-rtl-mirror">
                <img class="bullet-img" src="../../../assets/imgs/branch_leaves100x52.png" alt="parrent-category" [ngClass]="{'rotated':treeControl.isExpanded(node)}">

            </mat-icon>
        </button>
        <span [ngClass]="{'chosen':node.id===selected}">{{node.name}}</span>  &nbsp;
        <span class="opt" (click)="display(node.id)"
            mat-raised-button matTooltipPosition="above"
            [matTooltip]="'View details for '+node.name"
            aria-label="details popup">     
                <i class="fas fa-info-circle text-info"></i> 
        </span>
        <span class="opt" *ngIf="node.hasRecipes" [routerLink]="['/']"
            mat-raised-button matTooltipPosition="above"
            [matTooltip]="'View recipes for '+node.name"
            aria-label="recipes popup">
                <i class="fas fa-scroll text-info"></i> 
        </span>
        <span class="opt" *ngIf="canCreate" (click)="add(node.id,node.name)"
            mat-raised-button matTooltipPosition="above"
            [matTooltip]="'Add Sub-Category of '+node.name"
            aria-label="create popup">
                <i class="fas fa-plus-circle text-success"></i>
        </span>
        <span class="opt" *ngIf="canEdit(node)" (click)="edit(node.id)"
            mat-raised-button matTooltipPosition="above"
            [matTooltip]="'Edit '+node.name"
            aria-label="edit popup">
                <i class="fas fa-pencil-alt text-primary"></i> 
        </span>
    </mat-tree-node>
</mat-tree>
