img.meal-picture {
    border-radius: 30%;
    width: auto;
    height: 10rem;
    box-shadow: 0px 0px 10px 1px rgba(161,66,128,0.5);
  }

div.img-date {
  display:block;
  float:left;
}

  img {
    height: 1.2rem;
    width:auto;
    margin-right: 1.2em;
  }

div.card-main{
  border:2px solid rgb(119, 41, 83);
  border-radius: 0.25rem;
  padding-right:1px !important;
  margin-right:1.5em;
}

  div.card-main:hover{
    box-shadow: 20px 20px 25px -19px rgba(161,66,128,1);
    transition: 0.4s ease-in-out;
  }

  div.card-header{
    background-color: #e6dfd1;
  }

  div.card-body{
    background-color: #f5f1e9;
    margin-top: 0;
    height:10.5em;
  }

  span.small-font{
    padding-top: 0.2em ;
    font-size: 1em;
  }

div.info>p{
  height: 12rem;
  overflow: auto;
  padding-right:1em;
}

.recipe-package{
  display:flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin-bottom:2em;
}

.recipe-package>.card-main{
  flex:1 0 1px;
}

.recipe-package>.card-sub{
  flex:0 0 17em;
}

@media only screen and (max-width: 900px) {
 div.card-sub {
    display: none;
  }
  div.card-main{
    margin-right:0;
  }
}