img.meal-picture {
    border-radius: 30%;
    width: auto;
    height: 10rem;
  }

div.img-date {
  display:block;
  float:left;
}

  img {
    height: 1.2rem;
    width:auto;
  }

div.card{
  border:2px solid rgb(119, 41, 83);
  padding-right:1px !important;
}

  div.card:hover{
    box-shadow: 20px 20px 25px -19px rgba(161,66,128,1);
    transition: 0.4s ease-in-out;
  }

  div.card-header{
    background-color: #e6dfd1;
  }

  div.card-body{
    background-color: #f5f1e9;
    margin-top: 0;
  }

  span.small-font{
    padding-top: 0.2em ;
    font-size: 1em;
  }