<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-3 toastr"></div>
        <div class="col-6">
            <form [formGroup]="lf" (ngSubmit)="submitLogin()">
                <fieldset>
                    <h2 class="text-center py-3">LogIn:</h2>
                    <!-- {{lf.value | json}} -->
                    <div class="form-group">
                        <label for="umail">UserName or Email:*</label>
                        <input type="text" class="form-control" id="umail" placeholder="Enter email or username..."
                            formControlName="umail" [ngClass]="{'is-invalid':isTouchedInvalid('umail')}">
                        <div class="form-group pt-3">
                            <label for="pwd1">Password*</label>
                            <input #pwd type="password" class="form-control" id="pwd1" placeholder="Password..."
                                formControlName="password" [ngClass]="{'is-invalid':isTouchedInvalid('password')}">
                        </div>
                    </div>
                    <div class="row my-4">
                        <div class="col-12 d-flex justify-content-center"> <button type="submit" class="btn btn-primary"
                                [disabled]="lf.invalid">LogIn</button>
                        </div>
                        <div class="col-12 d-flex justify-content-end"> 
                            <p class="h5 font-italic">Not a member, <a routerLink="/authentication/register"> Sing Up</a> now!</p>
    
                    </div> 
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="col-3 validationMessages">
            <div class="umailVaildation" *ngIf="isTouchedInvalid('umail')">
                <div *ngIf="getCtrlErrors('userName')['required']" class="alert alert-dismissible alert-danger">
                    <strong>Invalid Username!</strong> Please provide username or email!
                </div>
                <!-- <div *ngIf="getCtrlErrors('umail')['pattern']" class="alert alert-dismissible alert-danger">
                    <strong>Invalid UserName or Email!</strong> Please provide valid userName or email!
                </div> -->
            </div>
            <div class="passwordValidations" *ngIf="isTouchedInvalid('password')">
                <div *ngIf="getCtrlErrors('password')['required']" class="alert alert-dismissible alert-danger">
                    <strong>Invalid Password!</strong> Please provide Password!
                </div>
                <div *ngIf="getCtrlErrors('password')['minlength']" class="alert alert-dismissible alert-danger">
                    <strong>Invalid Password!</strong> Length of password must be equal or greater than
                    {{getCtrlErrors('password')['minlength']['requiredLength']}} symbols!
                </div>
            </div>
        </div>
    </div>
</div>