div.fav-btn .mat-button-toggle{
    padding:0em;
    margin: 0;
    border-radius: 1em;
    margin:0 1em;
    background:#E95420;
    color:whitesmoke;
  }
  
  div.fav-btn .mat-button-toggle-checked {
    background:#DF382C;
    color:whitesmoke;
  }

  div.fav-btn .mat-button-toggle-appearance-standard .mat-button-toggle-label-content{
      line-height: 1.8em; 
  }



  .mat-button-toggle.not-allowed{cursor: not-allowed;}

  