.dropdown-menu a:hover {
    background-color:blanchedalmond;
    background-image: none;
}
#sbtn:hover {
    background-color:blanchedalmond;
    color: rgb(80, 15, 153);
}
@media  screen and (max-width: 1600px) {
    ul.main-logo {
padding-top: 0.56rem;
font-size:0.7em;
    }
  }

  @media  screen and (max-width: 1405px) {
    ul.main-logo {
     display: none;
    }
  }
