<nav class="navbar navbar-expand-lg navbar-dark bg-dark nav-pills">
  <a class="navbar-brand" routerLink=""><span class="acsh">ACRESH</span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
    aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item mr-2">
        <a class="nav-link" routerLink="couldron" routerLinkActive="active"><i class="fas fa-flask"></i> Couldron</a>
      </li>
      <div class="dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-scroll"></i> Recipes
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" routerLink="recipes/all"><i class='fas fa-scroll'></i>&nbsp; All Recipes</a>
          <a class="dropdown-item" routerLink="recipes/recent"><i class='fas fa-concierge-bell'></i> &nbsp; Recently Added Recipes</a>
          <a class="dropdown-item" routerLink="recipes/commented"><i class='far fa-comments'></i> &nbsp; Most Commented Recipes</a>
          <a class="dropdown-item" routerLink="recipes/commented-recently"><i class='far fa-clock'></i>&nbsp; Recently Commented Recipes</a>
          <a class="dropdown-item" routerLink="recipes/highly-rated"><i class='fas fa-medal'></i>&nbsp; Highly Rated Recipes</a>
          <a class="dropdown-item" routerLink="recipes/most-rated"><i class='fas fa-users'></i>&nbsp; Most Rated Recipes</a>
          <a class="dropdown-item" routerLink="recipes/most-favoured"><i class='fas fa-grin-hearts'></i>&nbsp; Most Favoured</a>
        </div>
      </div>
      <li class="nav-item">
        <a class="nav-link" routerLink="/ingredients"><i class="fas fa-puzzle-piece"></i>&nbsp;Ingredients</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">Categories</a>
      </li>
    </ul>

    <ul class="navbar-nav mr-auto main-logo">
      <li class="nav-item">
        <h4 class="nav-link font-italic"><span class="acsh">A</span>pplication for <span
            class="acsh">C</span>ooking
          <span class="acsh">RE</span>cipes <span
            class="acsh">SH</span>aring </h4>
      </li>
    </ul>

    <ul *ngIf="userName; else unloggedOptions" class="navbar-nav pl-2 pr-0">
      <li class="nav-item">
        <div class="dropdown dropdown-menu-right">
          <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-user fa-lg"></i> {{userName}}
          </a>

          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item " [routerLink]="['/user-data/profile/', userName]"><i class="fas fa-user-cog"></i> &nbsp; My Profile</a>
            <a class="dropdown-item " [routerLink]="['/recipes/add-new']"><i class="fas fa-plus-circle"></i> &nbsp; Share New Recipe</a>
            <a class="dropdown-item pt-2" routerLink="/message-box"><i class="far fa-envelope"></i> &nbsp; Communications
              <span class="badge badge-pill badge-danger ml-2 py-2 my-0 px-2" *ngIf="unreadCount"> {{unreadCount}}</span>
            </a>
            <a class="dropdown-item " routerLink="/recipes/my-commented"><i class="far fa-comment-alt"></i> &nbsp; My Commented</a>
            <a class="dropdown-item" routerLink="/recipes/my-favourite"><i class="far fa-heart"></i>&nbsp; My Favourite Recipes</a>
            <a class="dropdown-item" [routerLink]="['/recipes/user/',userName]"><i class="fas fa-share-alt"></i> &nbsp; My Shared Recipes</a>
            <a class="dropdown-item" (click)="logout()"><i class="fas fa-sign-out-alt"></i> &nbsp; Logout</a>
          </div>
        </div>
      </li>
    </ul>
    <ng-template #unloggedOptions>
      <ul class="navbar-nav pl-2 pr-0">
        <li class="nav-item">
          <a class="nav-link " routerLink="authentication/login" routerLinkActive="active">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/authentication/register" routerLinkActive="active">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
      </ul>
    </ng-template>
    <div class="input-group pl-2 pr-2 col-2 ml-0">
      <input #searchPhrase class="form-control my-0 py-1 lime-border" type="text" placeholder="Name of recipe..." aria-label="Search">
      <div class="input-group-append">
        <span class="input-group-text lime lighten-2" (click)="search()" id="sbtn"><i class="fas fa-search" aria-hidden="true"></i></span>
      </div>
    </div>
  </div>
</nav>


