<main>
    <div class="row justify-content-start pt-3">
        <div class="col-3 p-3 mt-4">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" *ngFor="let pic of recipe.pictures; let i=index;" [attr.data-slide-to]="i"></li>
                </ol>                  
                <div class="carousel-inner">
                  <div class="carousel-item" *ngFor="let pic of recipe.pictures; let i=index;" [ngClass]="{'active': pic===recipe.pictures[0]}">
                    <img  [src]="pic" class="d-block w-100 round" [alt]="'recipe picture '+(i+1)">
                  </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
            </div>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" [attr.src]="recipe.videoLink | safe" allowfullscreen></iframe>
                </div>
        </div>
        <div class="col-9">
            <div class="row justify-content-between pr-4 pl-2">
                <div class="col-4 text-left"><h3><i class="fas fa-scroll"></i> &nbsp; {{recipe.name}}</h3></div>
                <div class="col-5 pl-2">
                    <h4 class="pt-2 text-center"><i *ngFor="let star of ratingProperties.positive" class="fas fa-star pr-1"></i><i *ngIf="ratingProperties.halfStar" class="fas fa-star-half-alt pr-1"></i><i *ngFor="let star of ratingProperties.lacking" class="far fa-star pr-1"></i>  &nbsp;{{ratingProperties.ratingName}}</h4>
                </div>
                <div class="col-3">
                    <div class=" text-left d-inline d-block">
                        <h5 class="pb-0 pr-2 py-0 my-0">
                            <img src="../../../../assets/hat.png" class="cook-hat"  alt="cook-hat">
                            {{recipe.authorCookRank}}  &nbsp;
                            <a [routerLink]="['/user-data/profile/', recipe.authorUserName]"> {{recipe.authorUserName}}</a></h5>
                    </div>
                </div>
            </div>
            <div class="hr"></div>
            <h4 class="text-center pb-2"><i class="fas fa-book-open"></i> &nbsp;Category: {{recipe.category}}</h4> 
            <div class="row justify-content-between pt-2 px-3">
                <div class="col-5">
                    <h5>Ingredients: </h5> 
                    <table>
                        <tbody>
                            <tr *ngFor="let ing of recipe.ingridients">
                                <td><a href="#">{{ing.name}}</a></td>
                                <td>{{ing.ammount}}</td>
                                <td>{{ing.isVegan?"Vegan":"Non-Vegan"}}</td>
                                <span *ngIf="!ing.isEssential"><i class="fas fa-question-circle"></i></span>
                                <span *ngIf="ing.isEssential"><i class="fas fa-check-circle"></i></span>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-7">
                    <form #f="ngForm" (ngSubmit)="makeVote(f.value)">
                        <label for="choise">Rate This Recipe:</label>
                        <div class="row justify-content-between">
                            <div class="col-4">
                                <select  [(ngModel)]="defaultRatingOpt" name="choise" class="custom-select" id="choise" [disabled]="!isLoggedIn">
                                    <option  *ngIf="defaultRatingOpt===0" value="0" >Choose rating...</option>
                                    <option *ngFor="let opt of ratingNames; let i=index;" [value]="i+1" [selected]="myVote===i">{{opt}}</option>>
                                </select>
                            </div>
                        <div class="col-3 pt-1">
                            <button type="submit" class="btn btn-primary btn-sm" [ngClass]="{'not-allowed': !rateBtnEnabled(f.value.choise)}" [disabled]="!rateBtnEnabled(f.value.choise)"><i class="fas fa-star"> </i>&nbsp; <span [innerHTML]="myVote? 'Change':'Give'" ></span> Rating </button>
                        </div>
                        <div class="col-4 pt-1 px-0">
                            <button (click)="favUnfav()" class="btn btn-primary btn-sm" [ngClass]="{'not-allowed': !isLoggedIn}" [disabled]="!isLoggedIn">
                                <span *ngIf="false; else isFavourite"><i class="fas fa-heart"></i>&nbsp; Add to Favourite </span>
                                <ng-template #isFavourite> <i class="fas fa-heart-broken"></i>&nbsp; Remove from Favourite </ng-template>
                            </button>
                        </div>
                    </div>
                    </form>
                    <div class="col-12 py-2">
                        <div class="row justify-content-start">         
                            <div class="col-5 px-0">
                                <ul class="undecorated">
                                    <li ><i class="fas fa-user"></i> &nbsp; {{ratingProperties.voterCount}} Voters</li>
                                    <li ><i class="fas fa-poll"></i> &nbsp; {{ratingProperties.avRating | number:"1.2"}} Average Rating</li>
                                    <li ><i class="fas fa-user"></i> &nbsp; {{recipe.recipeFavorisers.length}} users Bookmerked this recipe</li>
                                </ul>
                            </div>
                            <div class="col-7">
                                <ul class="undecorated">
                                    <li ><i class="fas fa-dumbbell"></i> &nbsp; Difficulty: {{recipe.difficulty}}</li>
                                    <li ><i class="far fa-clock"></i> &nbsp; Added On: {{dateAdded}}</li>
                                    <li ><i class="far fa-bookmark"></i> &nbsp; Tags: {{recipe.tags.join(", ")}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pt-2">
                <h4>How to prepare:</h4>
            <p>{{recipe.description}}</p>
            </div>
        </div>
    </div>
</main>