    .details {
    padding:1em;
    display:flex;
    justify-content:space-between;
  
    .media{
        padding:1em;
        flex: 0 1 30em;
        height: 40em;
        min-width: 25em;
        display:flex;
        flex-wrap: wrap;

        div { flex:0 0 100%; }
        
        .video { align-self:flex-end;}
    }
}
    .info{
        display:flex;
        flex-wrap: wrap;
        align-content: start;
        padding:1em 0;
    } 
    .header{
        list-style-type: none;
        flex:0 0 100%;
        display:flex;
        justify-content: space-evenly;
        flex-wrap: nowrap;
        align-items: center;

        li.rating{
            min-width:12em;
            padding:0 0.5em;
            }
        
        li.author{ min-width:11em;
            position: relative;
            transform: translateY(-1em);
            }
    }

    .info>.category{
        flex:0 0 100%;
        text-align:center;
        padding-top:0.8em;
    }

    .info>.stats{
        flex:0 0 100%;
        display:flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        div {padding-top:1em;}
    }
   

@media only screen and (max-width: 990px) {
.details{
    flex-wrap: wrap;
    .media{
        height: auto;
        align-items: center;
        justify-content: space-between;
        order: 2;
        flex: 0 0 100%;   
            div { flex:0 0 45%; }     
            .video { 
                flex:0 1 50%;                     
                align-self:flex-end;
            }
        }  

        div.info>ul.header{ 
            flex-wrap:wrap; 
            li:nth-child(even) {padding:1rem 0;}
            li.title{
                flex:0 0 100%;
                text-align: center;
            }
        }
    }
}
