div.container{
    width:100%;
    padding:0;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
}

figure.media{ 
    flex: 1 0 10%;
    margin-bottom: 0;
}

img {
    width:auto;
    height: 10em;
    border-radius: 1em;
}

div.quiz {
    flex:1 0 50%;
    display:flex;
    flex-direction: column;
    justify-content: start;
    padding-left:1.5em;
}

div.title.h1{text-align: left;}

nav.options{
    margin-top: auto;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

div.options button{flex:0 1 10em}
