section.content{
    display:flex;
    flex-wrap:wrap;
    align-items: flex-start;
    min-height: calc(100vh - 6em);
    padding:1em;
    max-width: 100em;
    margin:0 auto;
    background: rgb(241, 241, 241);

    h2.title {
        flex:0 0 100%;
        padding-top:0.75rem;
        text-align: center;
        margin-bottom:0;

    }
}

.controls{
    flex:0 0 100%;
    display:flex;
    justify-content: space-between;

    div {
        display:flex;
        justify-content: space-between;    
    }
}

.checks{ 
    flex:0 0 18em;
    margin-top:1em;
}

.bars{ flex:0 0 34em;

}

input.big-checkbox {
    width: 1em;
    height: 1em;
    margin-right: 0.5rem;
}

#s-field{
    width: 10em;
    margin-right: 0.75em;
}


div.right-section{
    position:relative;
    display:inline-block;
    width: 54%;
    min-width:37.5em;
    min-height:40em;
    margin: 0 2%;
    padding-left: 0.8em;
}

div.det-inf {
    display:block;
    min-height:36em;
    border:2px solid purple;
    border-radius: 2em;
    overflow: auto hidden;
    padding:1em;
    background: #f5f1e9;
}

div.ing-types {
    display:inline-block;
    width:40%;
    min-width:25em;
    margin-left:2%;
    margin-bottom:1.6em;
}

div.ing-container{
    display:block;
    width:100%;
    min-width: 29em;
    height:19em;
    border:2px solid purple;
    padding-right:.9em;   
    border-radius: 2em;
    background: #f5f1e9;
}

div.ing-container:first-child{
margin-bottom:2em;
}

div.ing-container:nth-of-type(2){
margin-top:2em;
}

div.ing-types-header{ display:block;}

div.ing-types-header>h5 span {
    display:inline-block;
    padding-bottom: 0.25em;
    margin-top:0.5em;
    border-bottom: 2px solid orangered;
}
div.ing-types-header>h5 {
     padding-left:0.4em; 
    display:inline-block;
}

div.ing-types-header>span{
    /* padding-right:1em; */
    float: right;
    padding-top: 1.2em;  
}

div.filter-box{
    width:100%;
    min-width:35em;
    padding-left:2em;
}
div.filter-box>form {display:block}

div.filter-box>form>*{
   padding-right:1em;
}
form>div.checks {
    float:right;
    min-width: 21em;
}

div.ings-box{
    overflow: auto auto;
    height: 15em;
    min-width: 27em;
    padding: .9em;
    padding-right: 0;
}

div.actionBtns {
    text-align: right;
    width: 100%;
    position: absolute;
    bottom: 0.3em;
    right: 2.5em;
}

@import "list-ingredients.component.responsive";