<div class="card border-primary mb-3 mx-4" style="max-width: 100%;">
    <div class="card-header">

            <div class="name">
                <span class="h4">From : </span><a class="h4"
                    [routerLink]="['/user-data/profile/', message.senderUserName]">
                    <span *ngIf="isSenderBlocked" (mouseenter)="showHideBlockInfo()"
                        (mouseleave)="showHideBlockInfo()"> <i class="fas fa-ban text-danger fa-xs"></i></span>
                    {{message.senderUserName}}</a>&nbsp;&nbsp;
                <span *ngIf="isSenderBlocked && showBlockInfo" class="text-danger font-weight-bold h5">
                    I have blocked this user!</span>
            </div>

            <div class="status">
                <div *ngIf="message.status==='Read'; else unread" class="text-success">
                    <i class="fas fa-eye"></i> &nbsp; Read
                </div>
                <ng-template #unread>
                    <div class=" text-danger"><i class="fas fa-eye-slash"></i> &nbsp; Unread</div>
                </ng-template>
            </div>
            <div class="date">
                <span class="font-italic">Recieved on: {{dateSent}}</span>
            </div>
            <div class="actions">
                <div (click)="showHideContent()" class="link">
                    <div *ngIf="expanded">
                        <i class="far fa-minus-square"></i> Hide
                    </div>
                    <div *ngIf="!expanded" >
                        <i class="far fa-plus-square"></i> Display
                    </div>
                </div>
                <a class="float-right" (click)="del()"><i class="far fa-trash-alt"></i> Delete</a>
            </div>
    </div>

    <div class="card-body p-2 h5 mb-0 mt-1" [ngStyle]="{'display':expanded ? 'inline' : 'none'}">
        <p class="mb-2 px-2"><a [routerLink]="['/user-data/profile/', message.senderUserName]"><img class="avatar"
                    [src]="message.senderAvatarPicture" alt="avatar picture of sender"></a>
            {{message.content}}
        </p>
    </div>
</div>