div.content-box{
    max-width:85em;
    margin:0 auto;
    display:flex;
    justify-content:space-between;
    flex-wrap: nowrap;
    padding:0 1em;
}

div.content-menu{
    flex:0 2 60em;
    min-width:37em;
}

div.content-val-mess{
    margin-left:2em;
    flex: 1 1 20em;
    min-width: 15.5em;
}

@media only screen and (max-width: 940px) {
    div.content-box {
     flex-wrap: wrap;
     justify-content:center;
    }

    div.content-val-mess{ margin:0 1em; }
    div.content-menu{ order:2; }
  }