<input id="pic-inp" #avatar type="file" accept="image/png, image/jpeg" (change)="processPicture($event.target.files[0])">
<div class="container-fluid">
    <h2 class="text-center py-3">Register</h2>
    <div class="content-box">
        <div class="content-menu">
            <form [formGroup]="rf" (ngSubmit)="submitRegister()">
                <fieldset>
                    <!-- {{rf.value | json}} -->
                    <div class="row justify-content-between">
                        <div class="col-3">
                            <label>Gender:</label>
                            <div class="form-check-inline">
                                <div class="form-check px-0">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input mx-0" formControlName="gender"
                                            id="optionsRadios1" value="male">
                                        Male
                                    </label>
                                </div>
                                <div class="form-check px-1 mx-2">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input mx-0" formControlName="gender"
                                            id="optionsRadios2" value="female">
                                        Female
                                    </label>
                                </div>
                                <div class="form-check px-0">
                                    <label class="form-check-label ">
                                        <input type="radio" class="form-check-input mx-0" formControlName="gender"
                                            id="optionsRadios3" value="ufo">
                                        UFO
                                    </label>
                                </div>
                            </div>
                            <div class="picture-nav text-center pt-2 pl-2">
                                <button type="button" (click)="avatar.click()"><i class="fas fa-file-upload"></i> From HDD</button>
                               <span [ngClass]="{'no-touching': fileAvatar}">
                                    <span (click)="prevPicture()"><i class="far fa-arrow-alt-circle-left h6"></i></span>
                                    &nbsp; &nbsp;
                                    <span (click)="nextPicture()"> <i class="far fa-arrow-alt-circle-right h6"></i></span>
                                </span>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <label for="userName">UserName*</label>
                                <input type="text" class="form-control" id="userName" aria-describedby="userNameHelp"
                                    formControlName="userName" placeholder="Fill your userName..."
                                    [ngClass]="{'is-invalid':isTouchedInvalid('userName')}">
                                <small id="userNameHelp" class="form-text text-muted">Visible for other users</small>
                            </div>

                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <label for="firstName">First Name*</label>
                                <input type="text" class="form-control" id="firstName" placeholder="Fill your name..."
                                    formControlName="firstName"
                                    [ngClass]="{'is-invalid':isTouchedInvalid('firstName')}">
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <label for="userName">Last Name</label>
                                <input type="text" class="form-control" id="lastName" placeholder="Optional..."
                                    formControlName="lastName" [ngClass]="{'is-invalid':isTouchedInvalid('lastName')}">
                            </div>
                        </div>
                    </div>

                    <div class="row justify-content-between">
                        <div class="col-4">
                            <img #avatarPreview class="img-thumbnail rounded" alt="profilePicture" [src]="avatarImg">
                        </div>
                        <div class="col-7">
                            <div class="form-group">
                                <label for="emailAdr">Email address*</label>
                                <input type="email" class="form-control" id="emailAdr" aria-describedby="emailHelp"
                                    placeholder="Enter email..." formControlName="email"
                                    [ngClass]="{'is-invalid':isTouchedInvalid('email')}">
                                <small id="emailHelp" class="form-text text-muted">
                                    We'll never share your email with anyone else.</small>
                            </div>
                            <div class="form-group">
                                <label for="pwd1">Password*</label>
                                <input #pwd type="password" class="form-control" id="pwd1" placeholder="Password..."
                                    formControlName="password" [ngClass]="{'is-invalid':isTouchedInvalid('password')}">
                            </div>
                            <div class="form-group">
                                <label for="pwd2">Repeat Password*</label>
                                <input type="password" class="form-control" id="pwd2" placeholder="Password again..."
                                    formControlName="rePassword"
                                    [ngClass]="{'is-invalid':isTouchedInvalid('rePassword')}">
                            </div>
                        </div>
                    </div>
                    <div class="form-group pt-2">
                        <label for="exampleTextarea">Description About Myself</label>
                        <textarea class="form-control" id="exampleTextarea" rows="2"
                            placeholder="Write something if you feel the need..."
                            formControlName="description"></textarea>
                    </div>
                    <div class="row my-4">
                        <div class="col-12 d-flex justify-content-center"> <button type="submit" class="btn btn-primary"
                                [disabled]="rf.invalid">Register</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="content-val-mess">
            <div class="userNameValidations" *ngIf="isTouchedInvalid('userName')">
                <div *ngIf="getCtrlErrors('userName')['required']" class="alert alert-dismissible alert-danger">
                    <strong>Invalid Username!</strong> Please provide username!
                </div>
                <div *ngIf="getCtrlErrors('userName')['minlength']" class="alert alert-dismissible alert-danger">
                    <strong>Invalid Username!</strong> Length of username must be equal or greater than
                    {{getCtrlErrors('userName')['minlength']['requiredLength']}} symbols!
                </div>
                <div *ngIf="getCtrlErrors('userName')['valueTaken']" class="alert alert-dismissible alert-danger">
                    <strong>Invalid Username!</strong> UserName
                    <strong> {{getCtrlErrors('userName')['valueTaken']}}</strong> is already used please provide
                    another!
                </div>
            </div>
            <div class="firstNameValidations" *ngIf="isTouchedInvalid('firstName')">
                <div *ngIf="getCtrlErrors('firstName')['required']" class="alert alert-dismissible alert-danger">
                    <strong>Invalid First Name!</strong> Please provide first Name!
                </div>
                <div *ngIf="getCtrlErrors('firstName')['pattern']" class="alert alert-dismissible alert-danger">
                    <strong>Invalid First Name!</strong> First Name can not unallowed symbols!
                </div>
            </div>
            <div class="lastNameValidations" *ngIf="isTouchedInvalid('lastName')">
                <div *ngIf="getCtrlErrors('lastName')['pattern']" class="alert alert-dismissible alert-danger">
                    <strong>Invalid Last Name!</strong> Last Name can not unallowed symbols!
                </div>
            </div>

            <div class="lastNameValidations" *ngIf="isTouchedInvalid('email')">
                <div *ngIf="getCtrlErrors('email')['required']" class="alert alert-dismissible alert-danger">
                    <strong>Invalid Email!</strong> Please provide email!
                </div>
                <div *ngIf="getCtrlErrors('email')['email']" class="alert alert-dismissible alert-danger">
                    <strong>Invalid Email!</strong> Please provide valid email!
                </div>
                <div *ngIf="getCtrlErrors('email')['valueTaken']" class="alert alert-dismissible alert-danger">
                    <strong>Invalid Email!</strong> Email
                    <strong> {{getCtrlErrors('email')['valueTaken']}}</strong> is already used please provide another!
                </div>
            </div>

            <div class="passwordValidations" *ngIf="isTouchedInvalid('password')">
                <div *ngIf="getCtrlErrors('password')['required']" class="alert alert-dismissible alert-danger">
                    <strong>Invalid Password!</strong> Please provide Password!
                </div>
                <div *ngIf="getCtrlErrors('password')['minlength']" class="alert alert-dismissible alert-danger">
                    <strong>Invalid Password!</strong> Length of password must be equal or greater than
                    {{getCtrlErrors('password')['minlength']['requiredLength']}} symbols!
                </div>
            </div>

            <div class="repasswordValidations" *ngIf="isTouchedInvalid('rePassword')">
                <div *ngIf="getCtrlErrors('rePassword')['required']" class="alert alert-dismissible alert-danger">
                    <strong>Invalid Password!</strong> Please provide Password!
                </div>
                <div *ngIf="getCtrlErrors('rePassword')['minlength']" class="alert alert-dismissible alert-danger">
                    <strong>Invalid Password!</strong> Length of password must be equal or greater than
                    {{getCtrlErrors('rePassword')['minlength']['requiredLength']}} symbols!
                </div>

                <div *ngIf="getCtrlErrors('rePassword')['mismatch']" class="alert alert-dismissible alert-danger">
                    <strong>Invalid Password!</strong> Passwords mismatch!
                </div>
            </div>
        </div>
    </div>
</div>