<div class="card border-primary mb-3 mx-4" style="max-width: 100%;">
    <div class="card-header">
        <div class="col-4">
            <span class="h4">From : </span>
            <a class="h4" [routerLink]="['/user-data/profile/', message.senderUserName]">{{message.senderUserName}}</a>
        </div>
        <div class="date">
            <span class="font-italic">&nbsp;Recieved on: {{dateSent}}</span>
        </div>
        <div class="actions">
            <div (click)="showHideContent()" class="link">
                <div *ngIf="expanded">
                    <i class="far fa-minus-square"></i> &nbsp; Hide
                </div>
                <div *ngIf="!expanded">
                    <i class="far fa-plus-square"></i> &nbsp; Display
                </div>
            </div>
        </div>
    </div>

    <div class="card-body p-2 h5 mb-0 mt-1" *ngIf="expanded" @fade>
        <p class="mb-2 px-2"><a [routerLink]="['/user-data/profile/', message.senderUserName]"><img class="avatar"
                    [src]="message.recieverAvatarPicture" alt="avatar picture of sender"></a>
            {{message.content}}
        </p>
    </div>
</div>