div.content-box{
    display:flex;
    justify-content: center;
    padding:0 1em;
}
.content{
    flex:0 1 64em;
}

div.user-list{
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.user-info{
    flex:0 0 15em;
    margin-right:1em;
}