<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-2 toastr"></div>
        <div class="col-8">
            <h2 class="text-center py-3">Message Box:</h2>
            <ul class="nav nav-tabs h4">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#recieved"><i
                            class="fas fa-envelope-open-text"></i>
                        &nbsp; Recieved</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " data-toggle="tab" href="#sent"><i class="fas fa-paper-plane"></i> &nbsp;
                        Sent</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#deleted"><i class="far fa-trash-alt"></i> &nbsp;
                        Deleted</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#users-i-block"><i class="fas fa-biohazard"></i> &nbsp;
                        Users I Block</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#users-blocking-me"><i class="fas fa-comment-slash"></i>
                        &nbsp;
                        Users Blocking Me</a>
                </li>
            </ul>
            <div id="myTabContent" class="tab-content pt-4">
                <div class="tab-pane fade show active" id="recieved" #defaultTab>
                    <acr-message-recieved *ngFor="let mes of (nonDeleted$ | async)" [message]="mes"
                        (openUnreadMessageEmitter)="openUnreadMessage($event)"
                        (deleteMessageEmitter)="setDeletedStatus($event)">
                    </acr-message-recieved>
                </div>

                <div class="tab-pane fade" id="sent">
                    <acr-message-sent *ngFor="let mes of (sent$ | async)" [message]="mes">
                    </acr-message-sent>
                </div>

                <div class="tab-pane fade" id="deleted">
                    <acr-message-recieved *ngFor="let mes of (deleted$ | async)" [message]="mes">
                    </acr-message-recieved>
                </div>

                <div class="tab-pane fade" id="users-i-block">
                    <p>All users who can't tell me shit... </p>
                </div>

                <div class="tab-pane fade" id="users-blocking-me">
                    <p>All users who I can not write... </p>
                </div>

            </div>
        </div>
        <div class="col-2">

        </div>
    </div>
</div>