a.user-info{
    text-decoration: none;
}

div.card>img{
    display:block;
    max-width: 90%;
    height: 12em;
    margin: 0 auto;
}

div.card{ padding:2px; }
div.card:hover {
   padding:0;
   border: 2px solid rgb(119, 41, 83);
   box-shadow: inset 0px 0px 7px 2px rgba(161,66,128,1);
   transition: 0.4s ease-in-out;
}