<div *ngIf="ingredient; else nothing">
    <section class="det-container">
        <div class="main-pic">
            <img [src]="ingredient.picUrl" [alt]="ingredient.name+'main picture'">
        </div>
        <div class="info">
            <table class="stats">
                <tbody>
                    <tr>
                        <th class="h3 font-style-bold text-center pb-2" colspan="2"><i
                                class="fas fa-puzzle-piece"></i>&nbsp; {{ingredient.name}}</th>
                    </tr>
                    <tr>
                        <td>Used in:</td>
                        <td><a [routerLink]="['/recipes/ing-contain',ingredient.id]"><i class="fas fa-scroll"></i> {{ingredient.usageCount}} Recipes</a></td>
                    </tr>
                    <tr>
                        <td>Vegan:</td>
                        <td>
                            <span *ngIf="ingredient.isVegan"><i class="fas fa-check text-success"></i> Yes</span>
                            <span *ngIf="!ingredient.isVegan"><i class="fas fa-times text-danger"></i> No</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Origin:</td>
                        <td>{{ingredient.origin}}</td>
                    </tr>
                    <tr>
                        <td>Measure type:</td>
                        <td>{{ingredient.measureType.replace('_',' ')}}</td>
                    </tr>
                    <tr>
                        <td>Added By:</td>
                        <td>
                            <i class="fas fa-user"></i><a [routerLink]="['/user-data/profile/', ingredient.authorUserName]">{{ingredient.authorUserName}}</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Last Edit:</td>
                        <td>{{modificationDate}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="desc">
            <h3>Description:</h3>
            <p>{{ingredient.description}}</p>
        </div>
    </section>
    <div class="actionBtns row justify-content-between" *ngIf="!ingredient.isDeleted else deletedMessage">
        <div class="col-3 text-center"><button mat-raised-button class="center btn btn-danger" *ngIf="isDeleteAuthorised" (click)="confirmDelete()">
            <i class="far fa-trash-alt"></i> &nbsp; Delete</button>
        </div>

        <div class="col-6"></div>
        <div class="col-3 text-center pl-1"><a class="center btn btn-primary" *ngIf="isEditAuthorised"  [routerLink]="['/ingredients',{outlets: {'ing-outlet':['edit',ingredient.id]}}]">
            <i class="fas fa-edit"></i> &nbsp; Edit</a>
        </div>
    </div>

<ng-template #deletedMessage>
    <div class="alert alert-dismissible alert-danger deleted">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
       <p> <strong>Deleted</strong>  This ingredient was deleted by <b>admin/creator</b> and it is no longer available.</p>
       <p><em> You can create it anew, if you wish to use it in recipe!</em></p>
      </div>
</ng-template>




</div>
<ng-template #nothing>
    <section class="text-center pt-3">
        <h2 class="text-info">No Ingredient Selected!</h2>
        <img class="no-content"
            src="https://image.freepik.com/free-photo/healthy-eating-food-with-empty-dish-copyspace-diet-plan-top-view_44943-853.jpg">
    </section>
</ng-template>