  
       section.det-container {
        height: 31em;
       }       
       
       div.main-pic {
            float: left;
            display: block;
            max-width: 60%;
        }

        div.main-pic>img {
            height: 18em;
            width: auto;
            max-width: 100%;
            border-radius: 1em;
        }

        div.info {
            display: block;
            float: left;
            padding-left:4%;

            max-width: 37.5%;
            min-width:30%;
            max-height: 18em;
            float: right;
            /* background: lemonchiffon; */
        }

       table.stats>tbody>tr>td {
            font-size: 1.15em;
            line-height: 1.2em;
            padding:.4em .2em 0 0;   
        }

        div.desc {
            clear:both;
            height: 13.5em;
            padding-top:.2em;
            margin-bottom:0.2em;
        }
        div.desc>p { 
            overflow-y: auto;
            height:9.6em;
        }

        img.no-content {
            margin-top: 1em;
            width: auto;
            height: auto;
            max-width: 80%;
            max-height: 26.5em;
            border-radius: 3em;
        }

        div.alert.deleted{
            position: absolute;
            bottom: 10%;
            z-index: 3;
            left: 2em;
            right: 1.2em;
            border-radius: .75em;
        }
        div.alert.deleted>p { padding:0;}


@media only screen and (max-width: 600px) {
    .det-container{
        display:flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    div.main-pic {
        flex: 0 0 95%;
        max-width: 100%;
        text-align: center;
    }

    div.main-pic img {
        height: 9em;
        width:auto;
    }

    div.info{ 
        flex:0 0 20em; 
        max-width: 100%;
         margin-top:1em
    } 
    div.desc{ 
        flex:1 0 14em;
         margin: 1em 0; 
    } 
}   