<div class="container-fluid pt-3 box">
    <h3 class="pt-2">About the author:</h3>
    <p>Nikolay Hristov</p>
    <p>Email: niki.hristov007@gmail.com</p>
    <p>Skype: niksana3</p>
    <br />
    <h3>About the project and GDPR:</h3>
    <p>
        This web app is online platform for sharing cooking recipes. It is developed for educational non commersial
        purposes.<br />
        <p class="text-danger font-italic">Due to the educational purpose of this app GDPR is not implemented at the
            current state.</p>
        <h3>Main functionality of ACRESH:</h3>
        <h4>1. User Roles and permissions:</h4>
        <ul class="userRolesInfo">
            <li>
                <p class="h5 font-weight-bold">1.1.Guest: (non logged in user)</p>
                <p>
                    <span class="font-weight-bold">Guest can:</span> <br />
                    + Visit and explore all recipes, ingredients and categories (both as listings and details).<br />
                    + Search for products by name (case insensitive 2 letters match).<br />
                    + See all rankings of recipes<br />
                    + See who publicly available user info<br />
                    + View recipe details and it's comments.<br />
                    + View About (this page) info.<br />
                </p>
            </li>
            <li>
                <p class="h5 font-weight-bold">1.2. User: (logged in user)</p>
                <p>
                    User Credentials: <br />
                    UserName: [User1] [User2] [User3] [User4] [User5] [User6] [User7] [User8] [User9] <br />
                    Password: [123456a] <br />
                    User have all the privileges of guest. <br />
                    <span class="font-weight-bold">User can:</span> <br />
                    + "Message other users" and recieve messages from them.<br />
                    <span class="text-info  font-italic">
                        When user write a message if reciever is on he gets instant notification by.<br />
                        getting a increased number of unread messages, this applies for all of reciever devices<br />
                        where he is logged on. If user reads a message by choosing to display it, number of unread
                        messages<br />
                        is updated on all of his devices. Reciever of message can choose to delete message without
                        reading it.<br />
                    </span>
                    + Rate Recipes.
                    <span class="text-info  font-italic">
                        User can rate product recipe which he can change his rating but not remain neutral any
                        more.<br />
                    </span>
                    + Write comments to recipes.<br/>
                    <span class="text-info  font-italic">
                        User can not write comment if the last written comment is his own.<br />
                    </span>
                    + Edit his own comments to recipes.<br/>
                    + Give attitude to comments of recipes (Like or Dislike).
                    <span class="text-info font-italic">
                        User can give only 1 attitude point per comment if he likes comment he can dislike it but he can
                        no longer stay neutral<br />
                        User can like/unlike his own comment. Recipe detais get updated instantly for current viewers of
                        this recipe, this applies for comments also.<br />
                    </span>
                    + Can enlist recipes to his favourite list.<br />
                    + Can view his own recipes and other users recipes.<br />
                    + Can add recipes.<br />
                    + Can add ingredients.<br />
                    + Can add categories.<br />
                    + Can delete categories.<br />
                    + Can delete ingredients (if not unused by recipe and he is author). <br/>
                    + Can delete categories (if no recipe in them and he is author). <br/>
                    + Can edit categories,ingredients and recipes if they are created by him.<br />
                    + Can block other users, preventing them for further messaging him, this is reversable.<br />
                    + Can see users who he blocks or users who are blocked by him.<br />
                </p>
            </li>

            <li>
                <p class="h5 font-weight-bold">1.3. Admin: (logged in admin)</p>
                <p>
                    Assistant Credentials: <br />
                    UserName: [Admin1]<br />
                    Password: [123456a] <br />
                    Admin have all the privileges of User. <br />
                    <span class="font-weight-bold">Admin can:</span> <br />
                    + Can Edit all recipes, ingredients, categories as if he is their author.<br />
                </p>
            </li>
        </ul>
        <h4>2. About implementation key aspects:</h4>
        <ul class="userRolesInfo">
            <li>
                <p class="h5 font-weight-bold">2.1. Ingredients page</p>
                <p>
                    Component managing ingredients uses 3 sub components one of them is navigated by sub-routing.<br />
                    Ingredients page manages all CRUD for ingredients, Ingredients are devided on two groops Primal and Additional.
                </p>
            </li>
            <li>
                <p class="h5 font-weight-bold">2.2. Category page</p>
                <p>
                    Categories can be nested. Every recipe can be present in one category. <br />
                    Category component uses 2 sub components to manage CRUD for components, <br/>
                    First sub Component represents expandable tree that represents tree nesting of components and provides navigation.<br />
                    Second sub Component is for CRUD operations, both components change based on actions in the other.<br/>
                    For example First provides navigation for Select, Delete, Edit and Create based on user credentials<br />
                    Second component if intracted results to update of tree structure in the First.<br />
                </p>
            </li>
            <li>
                <p class="h5 font-weight-bold">2.3. Cauldron page</p>
                <p>
                    Cauldron provides filtering of recipes based on selected ingredients.<br />
                 </p>
            </li>
            <li>
                <p class="h5 font-weight-bold">2.4. Instant notifications of messaging and recipe edits</p>
                <p>
                    This is achieved by usage of SignalR comunication via WebSockets<br />
                </p>

            </li>
            <li>
                <p class="h5 font-weight-bold">2.5. Infinite scroll and spinner</p>
                <p>
                    For portioning request for arrays of elements from API infinite scroll is implemented<br />
                    by attaching eventlistener on scroll, if await of response loading notification is displayed<br />
                </p>
            </li>
            <li>
                <p class="h5 font-weight-bold">2.6. Material dialog implementation</p>
                <p>
                    For deletion confirmations pop up is shown asking for confirmation of deletion<br />
                </p>
            </li>
        </ul>

        <h4>3. Structure and code:</h4>
        <ul class="userRolesInfo">
            <li>
                <p class="h5 font-weight-bold">3.1. Overall</p>
                <p>
                    Project follows SPA architecture. It is service based in both Front and Back Ends.<br />
                    Back end is developed via C# .NET Core 3.1.<br/>
                    For managing users JWT is implemented.<br/>
                </p>
            </li>
            <li>
                <p class="h5 font-weight-bold">
                    <a href="https://github.com/StackSmack007/AcreshApp-SPAngular.NET_CoreApp">
                        GitHub</a>
                    </p>
            </li>
        </ul>
</div>