.not-allowed {cursor: not-allowed;}

div.content-box{
    display:flex;
    justify-content:center;
    padding-bottom: 2em;
}
div.content{
    flex:0 1 58em;
}

.down-btn{
    border:none;
    border-radius: 0.5em;
    background-color: rgb(233, 84, 32);
    color:white;
    padding:0.2em 1em;
}

.down-btn:hover{
    background-color: rgb(206, 68, 20);
}