section.main {
    max-width: 100em; 
    margin: 0 auto;
    background: rgb(241, 241, 241);
}

p.img-func, span.img-func {
    cursor: pointer;
    font-size:2em;
    /* padding: 0 0 0 0.8em; */
    margin:0;
}

#remTagBtn:hover {
    background-color:blanchedalmond;
    color: red;
}