<section class="main px-2">
    <div class="row justify-content-start">
        <div class="col-9">
            <div class="row justify-content-between">
                <div class="col-4">
                    <h3 class="text-left py-3"> <i class="fas fa-scroll"></i> &nbsp; Create new Recipe</h3>
                </div>
                <div class="col-4"></div>
                <div class="col-4">
                    <h3 class="text-right py-3"> {{myPersonality.cookRank}}: {{myPersonality.userName}}</h3>
                </div>
            </div>

            <!-- {{form.value|json}} -->
            <form [formGroup]="form" (ngSubmit)="submitRecipe()">
                <fieldset>
                    <legend class="text-center pb-3">Please Provide Recipe Info</legend>
                    <div class="row justify-content-between pl-3">
                        <div class="col-3">
                            <div class="form-group ">
                                <div class="form-group has-danger has-success">
                                    <label class="form-control-label h5" for="name"> Recipe Name*:</label>
                                    <input formControlName="name" class="form-control" id="name"
                                        [ngClass]="getValClasses('name')" placeholder="Name...">
                                    <div class="invalid-feedback" *ngIf="invalidTouchedCtrl('name')"
                                        [innerText]="getErr('name','required')?'Please provide Recipe Name!':
                                                                               getErr('name','minlength')?'Please provide name with length atleast '+getErr('name','minlength')['requiredLength']+' symbols long!':
                                                                               getErr('name','valueTaken')?'The name ' + getErr('name','valueTaken') + ' is already in use!':
                                                                               getErr('name','pattern')?'Please provide name consisting of only latin letters!':'unknown-Error'">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group ">
                                <div class="form-group has-danger has-success">
                                    <label class="form-control-label pr-3 h5" for="category"> Category:</label>
                                    <select class="custom-select" formControlName="category" id="category">
                                        <option  [value]="-1">No Category</option>                                            
                                        <option *ngFor="let opt of (categorie$ | async); index as i" [value]="opt.id">
                                            {{opt.name}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-3">
                            <div class="form-group ">
                                <label class="pr-4 h5" for="difficulty"> Difficulty:</label>
                                <div class="row justify-content-between px-3 pt-2">
                                    <div class="custom-control custom-radio col-3"
                                        *ngFor="let dif of diffGrades; let i=index;">
                                        <input class="custom-control-input" type="radio" formControlName="difficulty"
                                            [value]="dif[0]" [id]="dif[1]|lowercase">
                                        <label class="custom-control-label" [for]="dif[1]|lowercase">{{dif[1]}}</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-3">
                            <label class="form-control-label h5" for="main-pic"> Main Picture*:</label>
                            <div class="form-group mb-0">
                                <div class="row justify-content-start">
                                    <div class="col-10 px-0">
                                        <div class="form-group has-danger has-success">
                                            <input class="form-control" type="url" id="main-pic"
                                                formControlName="mainPic" placeholder="Picture url..."
                                                [ngClass]="getValClasses('mainPic')">
                                            <div class="invalid-feedback" *ngIf="invalidTouchedCtrl('mainPic')"
                                                [innerText]="getErr('mainPic','required')?'Please provide Picture URL':
                                                     getErr('mainPic','pattern')?'Picture URL invalid!':'unknown-Error'">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <p class="img-func text-success" (click)="addPicture()"><i
                                                class="fas fa-plus-circle"></i></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-between pl-3">
                        <div class="col-9">
                            <div class="row justify-content-between">
                                <div class="col-5"> <label class="form-control-label"><span
                                            class="img-func text-success" (click)="addIngredient()"><i
                                                class="fas fa-plus-circle"></i></span>&nbsp; <span
                                            class="h5 pb-2">Ingridients:</span> </label>

                                    <div formArrayName="ingridients"
                                        *ngFor="let ing of formArrs.ingridients?.controls; index as i;">
                                        <div [formGroupName]="i" class="row justify-content-between">

                                            <div class="col-6 pr-0">
                                                <div class="form-group has-danger">
                                                    <label class="form-control-label h6" [for]="'id'+i"> Type:</label>
                                                    <select class="custom-select" formControlName="id" [id]="'id'+i"
                                                        [ngClass]="{'is-invalid': ing.get('id').invalid && (ing.get('id').touched||ing.get('ammount').valid)}">
                                                        <option value="0" disabled>Choose Ingredient*!</option>
                                                        <option *ngFor="let opt of ingredients; index as j"
                                                            [value]="opt.id">{{opt.name}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-4 pr-0">
                                                <div class="form-group has-danger has-success">
                                                    <label class="form-control-label h6" for="ammount">
                                                        Ammount*:</label>
                                                    <input formControlName="ammount" class="form-control" id="ammount"
                                                        [ngClass]="getCtrlValClasses(ing.get('ammount'))"
                                                        placeholder="Ammount...">
                                                    <div class="invalid-feedback"
                                                        *ngIf="ing.get('ammount').invalid &&ing.get('ammount').touched"
                                                        [innerText]="ing.get('ammount').errors['required']?'Please Provide Valid Ammount!':
                                                        ing.get('ammount').errors['minlength']?'Please provide ammount with length minimum '+ing.get('ammount').errors['minlength']['requiredLength']+' symbols long!':
                                                        ing.get('ammount').errors['maxlength']?'Please provide ammount with length maximum '+ing.get('ammount').errors['maxlength']['requiredLength']+' symbols long!':
                                                        ing.get('ammount').errors['pattern']?'Ammount not valid must contain digits (1 space) and letters!':'unknown error!'">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-2 pt-4">
                                                <p class="img-func text-danger" (click)="removeIngredient(i)"><i
                                                        class="fas fa-minus-circle"></i></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-7">
                                    <div class="form-group">
                                        <label for="desc" class="h5">Description:</label>
                                        <textarea class="form-control" formControlName="description" id="desc" rows="12"
                                            placeholder="Describe how to cook this meal please..."></textarea>
                                    </div>
                                    <div *ngIf="getCtrl('description').touched &&getCtrl('description').invalid">
                                        <div class="alert alert-danger">
                                            <span *ngIf="getCtrl('description').errors['required']"> Please provide
                                                description!</span>
                                            <span *ngIf="getCtrl('description').errors['minlength']"> Please provide
                                                description with length atleast
                                                {{getCtrl('description').errors['minlength']['requiredLength']}} symbols
                                                long!</span>
                                            <span *ngIf="getCtrl('description').errors['maxlength']"> Please provide
                                                description with length lesser than
                                                {{getCtrl('description').errors['maxlength']['requiredLength']}} symbols
                                                long!</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-3 pl-0">
                            <div class="pl-3" formArrayName="pictures"
                                *ngFor="let pic of formArrs.pictures?.controls; index as i;">
                                <label class="form-control-label pr-3 h6" [for]="'pic'+i"> Picture {{i+1}}*:</label>
                                <div class="row justify-content-between">
                                    <div class="col-10 px-0 ">
                                        <div class="form-group has-danger has-success mb-0">
                                            <input class="form-control my-0 py-0" [formControl]="pic" [id]="'pic'+i"
                                                [ngClass]="getCtrlValClasses(pic)"
                                                [placeholder]="'Picture '+(1+i)+' url...'">&nbsp;
                                            <div *ngIf="pic.invalid && pic.touched" class="invalid-feedback"
                                                [innerText]="pic.errors['required']?'Please provide Picture URL':
                                             pic.errors['pattern']?'Picture URL invalid!':'unknown-Error'">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <p class="img-func text-danger" (click)="removePicture(i)"> <i
                                                class="fas fa-minus-circle"></i></p>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="form-group  px-0">
                                    <label class="form-control-label pr-3" for="videoUrl"><i
                                            class="fab fa-youtube h5"></i>&nbsp; YouTube Video URL:</label>
                                    <input formControlName="videoUrl" class="form-control" id="videoUrl"
                                        placeholder="Youtube video...optional">
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row justify-content-end">
                        <div class="col-2">
                            <button type="submit" class="btn btn-primary py-3">Post This Recipe</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>

        <div class="col-3 media pt-4">
            <div class="row w-100 px-2">
                <div *ngIf="form.get('mainPic').valid" class="col-12">
                    <h5>Main Picture:</h5>
                    <img class="img-fluid rounded" [src]="form.value['mainPic']" alt="new recipe main pic">
                </div>
                <div *ngIf="form.get('pictures').valid && form.value['pictures'].length>0" class="col-12 pt-3">
                    <h5>Additional Pictures:</h5>
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" *ngFor="let p of form.value['pictures']; let i=index;" [attr.data-slide-to]="i"></li>
                        </ol>                  
                        <div class="carousel-inner">
                          <div class="carousel-item" *ngFor="let picUrl of form.value['pictures']; let i=index;" [ngClass]="{'active': picUrl===form.value['pictures'][0]}">
                            <img  [src]="picUrl" class="d-block rounded" width="100%" [alt]="'recipe picture '+(i+1)">
                          </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                <div *ngIf="videoLink" class="py-4 col-12">
                <h5 width="90%">Additional Video:</h5>
                <div class="pt-4 mt-3 embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" [attr.src]="videoLink | safe" allowfullscreen></iframe>
                </div>
            </div>
        </div>

        </div>

    </div>





</section>