<section class="ing-cart" (click)="loadIngredientInfo()">  
            <img [src]="ingredient.imgURL" [alt]="ingredient.name+'-picture'">
            <p><strong>{{ingredient.name}}</strong></p> 
            <p> Used in {{ingredient.usage}} recipes so far.</p>
            <p> Origin-{{ingredient.origin}}. <span *ngIf="ingredient.isVegan">Vegan compatible!</span> <span *ngIf="!ingredient.isVegan">Non-Vegan!</span></p>       
            <p> Last edited 32 hours ago. Author: {{ingredient.authorUserName}}</p>       
</section>