<section *ngIf="category">
    <h3>{{category.name}}</h3>
    <h5>Details:</h5>
    <p>{{category.description}}</p>
    <ul class="stats">
        <li>Recipes: {{category.recipesCount}}</li>
        <li *ngIf="category.parentCategoryId; else mainCategory">ParentCategory:
             <span class="clickable text-success" (click)="selectParentCategory()">{{category.parentCategoryName}}</span>
        </li> 
        <ng-template #mainCategory><li> Main Category </li></ng-template>
                
        <li>Added By: <a [routerLink]="['/user-data/profile/', category.authorUserName]">  &nbsp;{{category.authorUserName}}</a></li>
        <li>Created: {{createdBefore}}</li>
        <li *ngIf="createdBefore!==editedBefore">Last Modified: {{editedBefore}}</li>
    </ul>
    <div class="row justify-content-between">
        <div class="col-4"></div>
        <div class="col-4"></div>
        <div class="col-4">
            <button *ngIf="canDelete" class="btn btn-primary btn-sm float-right" (click)="askDelete()">Delete</button>
        </div>
    </div>
</section>