section {
    padding: 1em;
}

ul.stats {
    list-style-type: disc;
}

ul.stats>li {
    padding-bottom:0.5em;
}

span.clickable:hover {
    cursor:pointer;
    color:darkgreen;
    background:blanchedalmond;
    border-radius:0.3em;
    padding:0.2em
}