section {
    /* width:100%; */
    min-height: calc(100vh - 5.625em);
    max-width:90em;
    margin:0 auto;
    background:whitesmoke;
    padding:2em 3em;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}

div.title {
    text-align: center;
    flex: 0 0 100%;
}

div.tree,div.menu {
    flex: 1 0 0;
    margin-right: 2em;
}

div.menu {
    flex:0 0 37.5em;
    margin-left:auto;
    display:flex;
    flex-direction: column;
    padding-top: 4.8em;
    /* justify-content: center; */
}

div.details{
    border:2px solid magenta;
    border-radius:2em;
    padding:1em;
}

div.actions {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    /* margin-top: auto; */
}