<section>
    <div class="title">
        <h3><i class="far fa-bookmark"></i> Recipe's Categories...</h3>
    </div>
    <div class="three">
        <acr-cat-tree *ngIf="categories" 
            [cats]="categories"
            [selectedCategory]="selectedCategory"
            (addEvent)="add($event)"
            (editEvent)="edit($event)"
            (deleteEvent)="confirmDelete($event)"
        ></acr-cat-tree>
    </div>

    <div class="menu" *ngIf="action">
        <div class="details">
            <acr-create-category *ngIf="action==='create'" 
                [parentCategoryId]="dataObj.createInfo" 
                (addNodeEvent)="addNodeToTree($event)" 
                (navigateTreeEvent)="navigateTreeElementNoDetails($event)" 
                [selectedCategory]="selectedCategory">
            </acr-create-category>

            <acr-edit-category *ngIf="action==='edit'" 
            [selectedCategory]="selectedCategory"
                (editEvent)="editNodeInTree($event)" 
                (navigateTreeEvent)="navigateTreeElementNoDetails($event)" 
                [categoryId]="dataObj.editInfo"
                >
            </acr-edit-category>
            
             <acr-details *ngIf="action==='details'" 
                [category]="dataObj.info$ | async" 
                [selectedCategory]="selectedCategory" 
                (deleteEvent)="confirmDelete($event)">
            </acr-details>
        </div>
    </div>
</section>