@import "main-board-categories.responsive";

section {
    min-height: calc(100vh - 6em);
    max-width:90em;
    margin:0 auto;
    background:whitesmoke;
    padding:2em 3em;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
}

div.title {
    flex: 0 0 100%;
    text-align: center;
}

div.tree,div.menu {
    flex: 1 0 20em;
    margin-right: 2em;
}

div.menu {
    flex-grow:1.8;
    padding-top: 2em;
}

div.details{
    border:2px solid magenta;
    border-radius:2em;
    padding:1em;
}

div.actions {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}