/* .comment-wrapper .panel-body {
    max-height:10em;
    overflow:auto;
} */
     
img.img-circle {
border-radius: 40%;
min-height: 4em;
max-height: 6em;
margin:auto 0;
padding-left: 1em;
}

li p.content{
    margin-top:1em;
    min-height:3em;
    max-height:5em;
    overflow:auto auto;
}

li.media {
    border: 2px solid goldenrod;
    border-radius: 3em 1.2em;;
    margin-bottom:1em;
    margin-right:1em;
}

li.media:nth-child(odd){
    padding: 1em 0;
}

div.media-body{
  padding-left:2em;
  padding-right:3em;
  }

span.label-info{
    border-bottom: 3px solid rgba(119, 41, 83, 0.73);
    padding-bottom:0.3em;
    margin-bottom:0.5em;
}

span.active-btn>i{
    color:darkorange;
}

span.active-btn i:hover{
    display:inline-block;
    color:blue;
    transform: scaleY(1.3);
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

span.actions>span{
    float:right; 
    cursor: pointer;
    margin-right: 1em;
}

.ledit{
    min-width:7.5em;
}

